<h1><%= Rails.configuration.school_name %> Students</h1>

<% @students_by_grade.sort.each do |grade, students| %>
  <h2><%= SchoolClass.find(grade).name %></h2>

  <div class="class">
    <div class="column-headers">
    <span class="header">Last name</span>
    <span class="header">First name</span>
    <span class="header">Parents</span>
    </div>

  <% for student in students %>
    <div class="student">
      <span><%= student.lastname %></span>
      <span><%= student.firstname %></span>
      <span class="wide"><%= student.primary_household.adults unless student.primary_household.nil? %> <%= " & " + student.secondary_household.adults unless student.secondary_household.nil? %></span>
      <%= link_to 'Show', student %> | 
      <%= link_to 'Edit', edit_student_path(student) %> | 
      <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %>
	  <%= link_to 'Send verify-info email', send_verification_email_student_path(student) %>
    </div>
  <% end %>
</div>

<% end %>

<br />

<%= link_to 'New Student', new_student_path %>
