<p id="notice"><%= notice %></p>

<h2><%= @student.fullname %></h2>

<p>
  <%= @student.school_class.name %>
</p>

<% if @student.secondary_household %>
<h3>Primary Household</h3>
<% end %>

<%= render "households/household", :household => @student.primary_household %>

<% if @student.secondary_household %>
<h3>Secondary household:</h3>

<%= render "households/household", :household => @student.primary_household %>

<% end %>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
