<%= form_for(@household) do |f| %>
  <% if @household.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@household.errors.count, "error") %> prohibited this household from being saved:</h2>

      <ul>
      <% @household.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field hfield">
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>
  <div class="field hfield">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field hfield">
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </div>
  <div class="field hfield">
    <%= f.label :phone, "Home Phone" %>
    <%= f.text_field :phone %>
  </div>
  <div class="field hfield">
    <%= f.label :email, "Family Email" %>
    <%= f.text_field :email %>
  </div>
<h3>Adult One</h3>
  <div class="field hfield">
    <%= f.label :adult_one_firstname, "First Name" %>
    <%= f.text_field :adult_one_firstname %>
  </div>
  <div class="field hfield">
    <%= f.label :adult_one_lastname, "Last Name" %>
    <%= f.text_field :adult_one_lastname %>
  </div>
  <div class="field hfield">
    <%= f.label :adult_one_email, "Email" %>
    <%= f.text_field :adult_one_email %>
  </div>
  <div class="field hfield">
    <%= f.label :adult_one_phone, "Phone" %>
    <%= f.text_field :adult_one_phone %>
  </div>
  <div class="field hfield">
    <%= f.label :adult_one_text, "Can we text this number?" %>
    <%= f.check_box :adult_one_text %>
  </div>
  <h3>Adult Two</h3>
  <div class="field hfield">
    <%= f.label :adult_two_firstname, "First Name" %>
    <%= f.text_field :adult_two_firstname %>
  </div>
  <div class="field hfield">
    <%= f.label :adult_two_lastname, "Last Name" %>
    <%= f.text_field :adult_two_lastname %>
  </div>
  <div class="field hfield">
    <%= f.label :adult_two_email, "Email" %>
    <%= f.text_field :adult_two_email %>
  </div>
  <div class="field hfield">
    <%= f.label :adult_two_phone, "Phone" %>
    <%= f.text_field :adult_two_phone %>
  </div>
  <div class="field hfield">
    <%= f.label :adult_two_text, "Can we text this number?"  %>
    <%= f.check_box :adult_two_text %>
  </div>
  <div class="field hfield">
    <%= f.label :show_information, "I would like this information to be in the directory" %>
    <%= f.radio_button :show_information, true %> Yes please | 
    <%= f.radio_button :show_information, false %> No thank you
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
