<h1>Listing households</h1>

<table>
  <tr>
    <th>Adult one</th>
    <th>Adult one email</th>
    <th>Adult one phone</th>
    <th>Adult two</th>
    <th>Adult two email</th>
    <th>Adult two phone</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @households.each do |household| %>
  <tr>
    <td><%= household.adult_one_fullname %></td>
    <td><%= household.adult_one_email %></td>
    <td><%= household.adult_one_phone %></td>
    <td><%= household.adult_two_fullname %></td>
    <td><%= household.adult_two_email %></td>
    <td><%= household.adult_two_phone %></td>
    <td><%= household.street %> <%= household.zip %></td>
    <td><%= household.phone %></td>
    <td><%= household.email %></td>
    <td><%= link_to 'Show', household %></td>
    <td><%= link_to 'Edit', edit_household_path(household) %></td>
    <td><%= link_to 'Destroy', household, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Household', new_household_path %>
