<p id="notice"><%= notice %></p>

<p>
  <b>Street:</b>
  <%= @household.street %>
</p>

<p>
  <b>City:</b>
  <%= @household.city %>
</p>

<p>
  <b>Zip:</b>
  <%= @household.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @household.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @household.email %>
</p>

<p>
  <b>Adult one firstname:</b>
  <%= @household.adult_one_firstname %>
</p>

<p>
  <b>Adult one lastname:</b>
  <%= @household.adult_one_lastname %>
</p>

<p>
  <b>Adult one email:</b>
  <%= @household.adult_one_email %>
</p>

<p>
  <b>Adult one phone:</b>
  <%= @household.adult_one_phone %>
</p>

<p>
  <b>Adult one text:</b>
  <%= @household.adult_one_text %>
</p>

<p>
  <b>Adult two firstname:</b>
  <%= @household.adult_two_firstname %>
</p>

<p>
  <b>Adult two lastname:</b>
  <%= @household.adult_two_lastname %>
</p>

<p>
  <b>Adult two email:</b>
  <%= @household.adult_two_email %>
</p>

<p>
  <b>Adult two phone:</b>
  <%= @household.adult_two_phone %>
</p>

<p>
  <b>Adult two text:</b>
  <%= @household.adult_two_text %>
</p>


<%= link_to 'Edit', edit_household_path(@household) %> |
<%= link_to 'Back', households_path %>
